.artistCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    margin: 0px 16px 16px 0;
    width: 200px;
}

p {
    margin: 0;
}

.artistName {
    font-weight: bold;
}

img {
    width: 100%;
}