.coverArt {
    background-repeat: no-repeat;
    // background-position: top;
    background-size: cover;
}

.artistDetailsContainer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0 10px;
}

.artistText {
    color: #ffffff; 
    mix-blend-mode: difference;
    margin: 0;
}

.tracksListContainer {
    padding: 0;
}